<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lea.samsung.orledorapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Login.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SongsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MovieActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainFavoriteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.OtherCategoriesActivity"
            android:label="@string/title_activity_other_categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SpessficSubcategoryActivity"></activity>
    </application>

</manifest>
