<div layout="row" layout-align="space-around">
    <md-card flex ng-repeat="category in categories">
        <md-card-content>
            <h2>
            <i class="mdi {{ mediaTypeToMdi(category.name) }} mdi-36px md-avatar"></i>
            {{ category.name }}
            </h2>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-footer>
            <md-list>
                <md-list-item ng-repeat="subcategory in category.subcategories">
                    <div layout="row" layout-align="space-between" flex>
                        <a ui-sref="subcategories({
                            type: category.name,
                            category: subcategory
                        })">
                        {{$index + 1}}. {{ subcategory }}
                        </a>                        
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-card-footer>
    </md-card>
</div>
