.home-page {
	md-card-title {
		md-card-title-text {
			h1 { 
				color: #111; 
				font-family: 'Helvetica Neue', sans-serif; 
				font-size: 100px; 
				font-weight: bold; 
				letter-spacing: -1px; 
				line-height: 1; 
				text-align: center; }
		}
	}	
	md-card-content {
		p {
    		line-height: 30px;
		}
	}
}