    <md-dialog aria-label="יצירת קישור חדש" ng-cloak>
        <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>יצירת קישור חדש</h2>
            </div>
        </md-toolbar>
            <md-dialog-content layout-padding layout="column">
            <md-input-container>
                <label>שם הקישור</label>
                <input ng-model="link._name">
            </md-input-container>
                <md-input-container>
                <label>כתובת</label>
                <input ng-model="link._link">
                </md-input-container>

            <md-input-container>
			<md-select ng-model="link._language" placeholder="שפת המדיה" ng-hide="link._type === 'Other'">
				<md-option ng-value="lan" ng-repeat="lan in languages">{{ lan }}</md-option>
			</md-select>
		</md-input-container>
                <md-datepicker 
                ng-click="publishDateReminder()" ng-model="publishDate" md-placeholder="תאריך הוצאה" ng-hide="link._type === 'Other'"></md-datepicker>
            <md-input-container>
                <label>קטגוריה</label>
                <md-select ng-model="link._type" ng-init="link._type='Song'">
                    <md-option value="Song">שיר</md-option>
                    <md-option value="Movie">סרט</md-option>
                    <md-option value="Other">אחר</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>תת קטגוריה</label>
                <md-select ng-model="link._subcategory" ng-show="isAnySubcateogoryForType(link._type)">
                    <md-option value="">ללא</md-option>
                    <md-option                        
                        ng-repeat="subcategory in getSubcategories(link._type)" 
                    value="{{subcategory}}">{{subcategory}}</md-option>
                </md-select>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="saveLink()" md-autofocus>
                שמור
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>