<md-card layout="column" layout-align="space-around" ng-repeat="link in links">
    <md-card-content>
        <h2>{{ link._name }}</h2> {{ link._link }}
    </md-card-content>
    <md-card-footer>
        <div flex layout="row" layout-align="space-between">
            <span>{{ link._type }}</span>
            <md-button class="md-primary" ng-click="delete(link._name)">מחק</md-button>
        </div>
    </md-card-footer>
</md-card>
<md-button class="new-link md-fab md-primary md-mini" ng-click="createLink($event)">
    <i class="mdi mdi-telegram"></i>
</md-button>
